<footer class="container-fluid">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-4 first">
          <h3>DEV SPEAK</h3>
          <form>
            <input type="email" placeholder="Enter email to receive updates and newsletter"/>
          </form>
          <p>Connect with us</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4 second">
          <h3>Quick Links</h3>
          <ul>
            <li><a>About us</a></li>
            <li><a>contact us</a></li>
            <li><a>Home</a></li>
            <li><a>Blogs</a></li>
          </ul>
        </div>
        <div class="col-md-4 third">
          <h3>Contact us</h3>
          <p><span>Email: </span>devspeak@gmail.com</p>
          <p><span>Contact:</span>+077 0868122399</span></p>
          <p><span>Address:</span>Patan Durbar Square, Lalitpur</span></p>
        </div>
      </div>
    </div>
</footer>